[submodule "rgbx"]
	path = rgbx
	url = https://github.com/jonathansickert/rgbx.git
[submodule "diffusion-renderer"]
	path = diffusion-renderer
	url = https://github.com/jonathansickert/diffusion-renderer.git
