[submodule "external/flare_adl4cv"]
	path = external/flare_adl4cv
	url = https://github.com/HannesLeonhard/flare_adl4cv.git
[submodule "external/rgbx"]
	path = external/rgbx
	url = https://github.com/zheng95z/rgbx.git
[submodule "external/diffusion-renderer"]
	path = external/diffusion-renderer
	url = https://github.com/nv-tlabs/diffusion-renderer.git
